*{
    margin: 0;
    padding: 0;
}

.all{
    text-align: center;
    padding-top: 30px;
}

.input{
    height: 40px;
    width: 300px;
}

.btn{
    height: 40px;
    width: 100px;
    cursor: pointer;
}